# See https://pre-commit.com for configuration and options.
minimum_pre_commit_version: "3.0.0"
default_install_hook_types: [pre-commit]
default_language_version:
  python: python3.14
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check
        language: system
        types: [python]
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        types: [python]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        types: [python]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--fix]
        types: [markdown]
